<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>customerInfo</key>
		<dict>
			<key>index</key>
			<array>
				<string>machine</string>
				<string>customer</string>
				<string>location</string>
			</array>
			<key>slected</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
			</array>
		</dict>
		<key>machineInfo</key>
		<dict>
			<key>index</key>
			<array>
				<string>machineType</string>
				<string>dressType</string>
				<string>toolSet</string>
				<string>autoRotation</string>
			</array>
			<key>machineType</key>
			<array>
				<string>sw</string>
				<string>sn</string>
				<string>worm</string>
			</array>
			<key>dressType</key>
			<array>
				<string>sw-vw</string>
				<string>sw-xz</string>
				<string>sw-v</string>
				<string>sn-xz</string>
				<string>sn-x-front</string>
				<string>sn-x-back</string>
			</array>
			<key>toolSet</key>
			<array>
				<string>auto</string>
				<string>manual</string>
			</array>
			<key>autoRotation</key>
			<array>
				<string>true</string>
				<string>false</string>
			</array>
			<key>slected</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
		</dict>
		<key>email</key>
		<string></string>
	</dict>
</dict>
</plist>
