<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>customerInfo</key>
		<array>
			<string>machine</string>
			<string>customer</string>
			<string>location</string>
		</array>
		<key>machineInfo</key>
		<array>
			<dict>
				<key>name</key>
				<string>machineType</string>
				<key>content</key>
				<array>
					<string>sw</string>
					<string>sn</string>
					<string>wrom</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>dressType</string>
				<key>content</key>
				<array>
					<string>sw-vw</string>
					<string>sw-xz</string>
					<string>sw-v</string>
					<string>sn-xz</string>
					<string>sn-x-front</string>
					<string>sn-x-back</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>toolSet</string>
				<key>content</key>
				<array>
					<string>auto</string>
					<string>false</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>autoRotation</string>
				<key>content</key>
				<array>
					<string>true</string>
					<string>false</string>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
